<!DOCTYPE html>
<html>

<!-- header -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>
        {% block title %}{% endblock %}
    </title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet">

</head>
<body about="{{uri}}">

<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top align-items-center">
    <div class="container-xl">
	<a class="navbar-brand" href="/" title="My Data" style="color: #2c5078">
	    <h4>My Data</h4>
	</a>
	</div>
   </div>
</nav>
<div style="margin-bottom: 60px"></div>
<!-- /navbar -->

{% block content %}{% endblock %}


<!-- footer -->
<!--
<section>
    <div class="container-xl">
	<div class="text-center p-4 bg-light">
	    <small class="text-muted">
             Footer text
	    </small>
	</div>
    </div>
</section>
-->
<!-- #footer -->

</body>
</html>
