{% extends "base.html" %}

{% block title %}
	{{ uri }}
{% endblock %}

{% block content %}

<!-- page-header -->
<section>
    <div class="container-xl">
	<div class="row">
	    <div class="col">
		<h1 id="title" class="display-6">
			<a href="{{uri}}" target="_blank"><i class="bi bi-box-arrow-up-right"></i></a>
			<a href="/resource/{{uri}}">{{uri|unquote}}</a>
		</h1>
	    </div>
	</div>
    </div>
</section>
<!-- page-header -->

<!-- property-table -->
<section>
    <div class="container-xl">
	<div class="row">
	    <div class="table-responsive">
		<table class="table table-hover table-sm table-light">
		    <thead>
			<tr>
			    <th class="col-xs-3 ">Property</th>
			    <th class="col-xs-9 px-3">Value</th>
			</tr>
		    </thead>
		    <tbody>
				{% for group in predicates %}
		            <tr class="{{ loop.cycle('odd', 'even') }}">
		                <td class="col-2">
		                    {% if group.direction.value == "backward" %} is {% endif %}
		                    <span title="{{ group.description }}">
								<a href="/resource/{{ group.predicate|quote }}">
									{% if group.label %}
										{{ group.label }}
									{% else %}
										{{ group.predicate }}
									{% endif %}
								</a>
							</span>
							{% if group.direction.value == "backward" %} of {% endif %}
		                </td>
		                <td class="col-10 text-break">
							<ul>
							{% for node in group.nodes %}
								<li>
								{% if node|is_uri %}
								<a href="/resource/{{ node|quote }}">{{ node|unquote }}</a>
								{% elif node|is_literal %}
								<span class="literal">{{ node.value }}</span>
								{% else %}
								{{ node }}
								{% endif %}
								</li>
							{% endfor %}

							{% if (group.total > 10) %}
							<i>(total {{ group.total }})</i>
							{% endif %}
							</ul>

		                </td>
		            </tr>
		        {% endfor %}

		    </tbody>
		</table>
	    </div>
	</div>
    </div>
</section>
<!-- property-table -->

{% endblock %}