<!DOCTYPE html>
<html>

<!-- header -->
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>{{ uri }}</title>

	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

</head>
<body about="{{uri}}">

<!-- navbar -->
<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top align-items-center">
    <div class="container-xl">
	<a class="navbar-brand" href="/" title="My Data" style="color: #2c5078">
	    <h4>My Data</h4>
	</a>
	</div>
   </div>
</nav>
<div style="margin-bottom: 60px"></div>
<!-- /navbar -->


<!-- page-header -->
<section>
    <div class="container-xl">
	<div class="row">
	    <div class="col">
		<h1 id="title" class="display-6">
		    <a href="/resource/{{uri}}">{{uri|unquote}}</a>
		</h1>
	    </div>
	</div>
    </div>
</section>
<!-- page-header -->

<!-- property-table -->
<section>
    <div class="container-xl">
	<div class="row">
	    <div class="table-responsive">
		<table class="table table-hover table-sm table-light">
		    <thead>
			<tr>
			    <th class="col-xs-3 ">Property</th>
			    <th class="col-xs-9 px-3">Value</th>
			</tr>
		    </thead>
		    <tbody>
				{% for (direction, predicate), group in grouped_predicates %}
		            <tr class="{{ loop.cycle('odd', 'even') }}">
		                <td class="col-2">
		                    {% if direction.value == "backward" %} is {% endif %}
		                    <span title="{{ predicate|description }}"><a href="{{ predicate }}">{{ predicate|label }}</a></span>
							{% if direction.value == "backward" %} of {% endif %}
		                </td>
		                <td class="col-10 text-break">
							<ul>
							{% for _, _, node in group %}
								<li>
								{% if node|is_uri %}
								<a href="/resource/{{ node|quote }}">{{ node|unquote }}</a>
								{% elif node|is_literal %}
								<span class="literal">{{ node.value }}</span>
								{% else %}
								{{ node }}
								{% endif %}
								</li>
							{% endfor %}
							</ul>
		                </td>
		            </tr>
		        {% endfor %}

		    </tbody>
		</table>
	    </div>
	</div>
    </div>
</section>
<!-- property-table -->

<!-- footer -->
<section>
    <div class="container-xl">
	<div class="text-center p-4 bg-light">
	    <small class="text-muted">
             Footer text
	    </small>
	</div>
    </div>
</section>
<!-- #footer -->

</body>
</html>
