{% extends "base.html" %}

{% block title %}
    MyData Viewer
{% endblock %}

{% block content %}
<section>
    <div class="container-xl">
	<div class="row">
	    <div class="col">
		<h1 id="title" class="display-6">
		    Object Types
		</h1>
	    </div>
	</div>
    </div>
</section>

<section>
    <div class="container-xl">
	<div class="row">
        <div class="table-responsive">
        <table class="table table-hover table-sm table-light">
            <thead>
                <tr>
                    <th class="col-xs-3 ">Type</th>
                    <th class="col-xs-9 px-3">Count</th>
                </tr>
            </thead>
            <tbody>
                {% for type, count in result %}
                    <tr class="{{ loop.cycle('odd', 'even') }}">
                        <td><a href="/resource/{{ type|quote }}">{{ type }}</a></td>
                        <td>{{ count }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </div>
    </div>
    </div>
</section>
{% endblock %}